@font-face {
  font-family: 'Rubik-Light';
  src: url(../fonts/Rubik-Light.ttf);
}
@font-face {
  font-family: 'Rubik-Medium';
  src: url(../fonts/Rubik-Medium.ttf);
}
@font-face {
  font-family: 'Inter-Regular';
  src: url(../fonts/Inter-Regular.ttf);
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Rubik-Light';
}
.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(168.53deg, rgba(38, 113, 192, 0.03) 3.45%, rgba(244, 211, 65, 0.03) 32.61%, rgba(38, 113, 192, 0.03) 69.65%),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
}
.content {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}
header {
  width: 96%;
  margin: auto;
  margin-top: 2vw;
  position: relative;
}
.menu {
  width: 100%;
  height: auto;
}
#open-menu {
  display: none;
}
label[for="open-menu"] {
  display: block;
  width: 4vw;
  height: 4vw;
}
label[for="open-menu"] img {
  width: 100%;
  height: auto;
}
.down-menu {
  display: block;
  position: absolute;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
}
#open-menu:checked ~ .down-menu {
  max-height: 300px;
}
.languages {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 13vw;
  height: 3.125vw;
  font-family: 'Inter-Regular';
  color:#A4A4A4;
  font-size: 1.25vw;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 4vw;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06) inset;
}
.languages a {
  display: block;
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  height: inherit;
  line-height: 3.125vw;
}
.languages a.active {
  background-color: #fff;
  border-radius: 4vw;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
}
.btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20vw;
  height: 3.125vw;
  background-color: #F4D341;
  text-decoration: none;
  color: #fff;
  font-family: 'Rubik-Medium';
  font-size: 1.25vw;
  line-height: 3.125vw;
  text-align: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
}
main {
  width: 100%;
  margin-top: 8vw;
}
.logo {
  display: block;
  width: 33vw;
  height: 14vw;
  margin: auto;
  margin-top: 1vw;
}
.logo img {
  width: 100%;
  height: auto;
}
.history-block {
  background: green;
  padding: 0vw 0vw 5vw;
  position: relative;
}
input#show-more {
  display: none;
}
label[for="show-more"] {
  display: block;
  position: absolute;
  bottom: 3vw;
  cursor: pointer;
}
.slider-container  {
  width: 100%;
  max-height: 110vw;
  background-color: #000;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}
input#show-more:checked ~ .slider-container {
  max-height: 1100vw;
  overflow: visible;
  transition: max-height 0.5s ease-in;
}
.slider-wrapper {
  width: 96%;
  height: 50vw;
  margin-left: 4%;
  margin-top: 5vw;
  background-color: red;
}
.slider-hidden {
  width: 100%;
  height: 42vw;
  background-color: green;
  overflow: hidden;
}
.slider-line {
  display: flex;
  width: auto;
  height: 100%;
  background-color: blue;
}
.slider-line-item {
  min-width: 90vw;
  height: 100%;
}
.footer-line {
  display: flex;
  width: 100%;
  height: 7.5vw;
  background-color: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.social-networks {
  display: flex;
  width: auto;
  height: auto;
  margin: auto;
}
.social {
  display: block;
  width: 4vw;
  height: 4.3vw;
}
.social:first-child {
  margin-right: 1vw;
}
.social img {
  width: 100%;
  height: auto;
}