@font-face {
  font-family: 'Rubik-Light';
  src: url(../fonts/Rubik-Light.ttf);
}
@font-face {
  font-family: 'Rubik-Medium';
  src: url(../fonts/Rubik-Medium.ttf);
}
@font-face {
  font-family: 'Inter-Regular';
  src: url(../fonts/Inter-Regular.ttf);
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Rubik-Light';
}
.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(168.53deg, rgba(38, 113, 192, 0.03) 3.45%, rgba(244, 211, 65, 0.03) 32.61%, rgba(38, 113, 192, 0.03) 69.65%),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
}
.content {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}
header {
  width: 96%;
  margin: auto;
  margin-top: 2vw;
  position: relative;
}
.menu {
  width: 100%;
  height: auto;
}
#open-menu {
  display: none;
}
label[for="open-menu"] {
  display: block;
  width: 4vw;
  height: 4vw;
}
label[for="open-menu"] img {
  width: 100%;
  height: auto;
}
.down-menu {
  display: block;
  position: absolute;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
}
#open-menu:checked ~ .down-menu {
  max-height: 300px;
}
.languages {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 13vw;
  height: 3.125vw;
  font-family: 'Inter-Regular';
  color:#A4A4A4;
  font-size: 1.25vw;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 4vw;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06) inset;
}
.languages a {
  display: block;
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  height: inherit;
  line-height: 3.125vw;
}
.languages a.active {
  background-color: #fff;
  border-radius: 4vw;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
}
.btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20vw;
  height: 3.125vw;
  background-color: #F4D341;
  text-decoration: none;
  color: #fff;
  font-family: 'Rubik-Medium';
  font-size: 1.25vw;
  line-height: 3.125vw;
  text-align: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
}
main {
  width: 100%;
  margin-top: 8vw;
}
.logo {
  display: block;
  width: 33vw;
  height: 14vw;
  margin: auto;
  margin-top: 1vw;
}
.logo img {
  width: 100%;
  height: auto;
}
.history-block {
  padding: 0vw 0vw 15vw;
  position: relative;
}
input#show-more {
  display: none;
}
label[for="show-more"] {
  display: block;
  position: absolute;
  bottom: 3vw;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  width: 30vw;
  height: 6vw;
  line-height: 6vw;
  text-align: center;
  color: #2671C0;
  font-family: "Rubik-Medium";
  font-size: 1.9vw;
  border: 0.23vw solid #2671C0;
}
label[for="show-more"]::after {
  content: 'Показать еще проекты';
}
.slider-container  {
  width: 100%;
  max-height: 110vw;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}
input#show-more:checked ~ .slider-container {
  max-height: 1100vw;
  overflow: visible;
  transition: max-height 0.5s ease-in;
}
input#show-more:checked ~ label[for="show-more"]::after {
  content: 'Это все проекты';
}
.slider-wrapper {
  width: 100%;
  height: 53vw;
  margin-top: 5vw;
}
.slider-hidden {
  width: 100%;
  height: 42vw;
  overflow: hidden;
}
.slider-line {
  display: flex;
  width: fit-content;
  height: 100%;
  margin: 0vw 4vw;
  background-color: #fff;
  border-radius: 0.78vw;
  box-shadow: 0vw 0vw 2.5vw 0vw rgba(0, 0, 0, 0.05);
}
.slider-line-item {
  min-width: 103vw;
  height: 100%;
  display: flex;
}
.slider-line-item:first-child {
  min-width: 92vw;
}
.slider-line-item:last-child {
  min-width: 96vw;
} 
.footer-line {
  display: flex;
  width: 100%;
  height: 7.5vw;
  background-color: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.social-networks {
  display: flex;
  width: auto;
  height: auto;
  margin: auto;
}
.social {
  display: block;
  width: 4vw;
  height: 4.3vw;
}
.social:first-child {
  margin-right: 1vw;
}
.social img {
  width: 100%;
  height: auto;
}
.radio-btn {
  display: none;
}
.radio-btn:first-child:checked ~ .slider-hidden .slider-line {
  margin-left: 4vw;
}
.radio-btn:nth-child(2):checked ~ .slider-hidden .slider-line {
  margin-left: -100vw;
}
.radio-btn:nth-child(3):checked ~ .slider-hidden .slider-line {
  margin-left: -206vw;
}
.preview {
  display: flex;
  width: auto;
  justify-content: center;
  margin-top: 1vw;
}
.preview-img {
  display: block;
  width: 5.5vw;
  height: 5.5vw;
  margin-left: 2vw;
  margin-top: 1vw;
  opacity: 0.3;
  border-radius: 0.39vw;
}
.preview-img:first-child {
  margin-left: 0vw;
}
.preview-img img {
  width: 100%;
}
.radio-btn#line1-sl1:checked ~ .preview .preview-img[for="line1-sl1"],
.radio-btn#line1-sl2:checked ~ .preview .preview-img[for="line1-sl2"],
.radio-btn#line1-sl3:checked ~ .preview .preview-img[for="line1-sl3"]{
  opacity: 1;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
.item-image {
  width: auto;
  height: 100%;
}
.item-image img {
  height: 100%;
  width: auto;
}
.item-text {
  flex: 1;
  height: 100%;
  color: #606060;
  font-family: 'Rubik-Light';
  position: relative;
}
.item-text h2 {
  margin-left: 3vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 3.125vw;
}
.item-text-box{
  padding: 0vw 5vw;
  height: 28vw;
  overflow: hidden;
}
.item-text h3 {
  font-family: 'Rubik-Medium';
  font-size: 1.5vw;
}
.item-text p {
  font-size: 1.4vw;
  margin: 1vw 0vw;
}
.item-text p.after:last-child{
  position: relative;
}
.item-btn {
  padding: 0 5vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: absolute;
  bottom: 2vw;
}
.btn.volunteers,
.btn.donate {
  display: flex;
  position: static;
  width: 20vw;
  height: 5.2vw;
  font-family: 'Rubik-Medium';
  font-size: 1.7vw;
  line-height: 1.2;
  align-items: center;
  justify-content: center;
}
.btn.volunteers {
  border: 0.15vw solid #F4D341;
  background-color:#fff;
  color:#F4D341;
}
.slide-btn {
  display: flex;
  position: absolute;
  width: 21vw;
  height: 3.9vw;
  background-image: url(../img/arrow.png);
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #2671C0;
  font-family: 'Rubik-Medium';
  bottom: 6vw;
  right: -2vw;
}